body {
    font-family: 'mario-font', sans-serif;
}
@font-face {
	font-family: 'mario-font';
	src: url("https://dl.dropboxusercontent.com/s/c7c7j86yaj11et9/SuperMario256.ttf?dl=0");
}
.score{
    position: absolute;
    right: 15px;
    z-index: 1;
}
.score_number{
    position: absolute;
    right: 15px;
    z-index: 1;/*o z-index define como são empilhados os elementos, quando maior o z-index na frente menor atrás*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.tv-board{
    background: black;
    z-index: 10;
    left: 150px;
    top:40px;
    width: 80%;
    height: 500px;
    border: 5px solid black;
    margin: 0 auto;
    position: absolute;
    opacity: 0;
}

.game-board{
    top:40px;
    left: 150px;
    width: 80%;
    height: 500px;
    border: 5px solid black;
    border-bottom: 15px solid rgb(34, 160 , 35);
    margin: 0 auto;
    position: absolute;
    /* o overflow:hidden serve para esconder tudo que sai do range da div*/
    overflow: hidden;
    background: linear-gradient(#87ceeb, #E0f6ff);
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario{
    position: absolute;
    bottom: 0;
    width: 65px;
    margin-left: 20px;
}

.cloud-01{
    position: absolute;
    top: -20px;
    width: 150px;
    animation: clouds 22s infinite linear;
}
.cloud-02{
    position: absolute;
    top : 100px;
    width: 150px;
    animation: clouds 20s infinite linear;
}

.cloud-03{
    position: absolute;
    width: 151px;
    animation: clouds_slow 30s infinite linear;
}
.cloud-04{
    position: absolute;
    width: 150px;
    animation: clouds_slow 26s infinite linear;
}

.cloud-05{
    position: absolute;
    top: 20px;
    width: 150px;
    animation: clouds_slow 26.7s infinite linear;
}

.jump{
    animation: jump 500ms ease-out;/*o ease-out serve pra dar suavidade na animação*/
}

.game_over_mario{
    animation: down 3000ms  ;
}

/* @keyframes serve para fazer animações*/
@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to{
        right: 100%;
    }
}

/*animação de pulo do mario*/
@keyframes jump{
    0%{
        bottom: --position_game_over;
    }
    40%{
        bottom: 140px;
    }
    50%{
        bottom: 140px;
    }
    60%{
        bottom: 140px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes down {
    0%{
        bottom: 20px;
    }
    40%{
        bottom: 160px;
    }
    50%{
        bottom: 160px;
    }
    60%{
        bottom: 160px;
    }
    100%{
        bottom: -140px;
    }
}

@keyframes clouds {
    from{
        right: -150px;
    }
    to{
        right: 100%;
    }
    
}

@keyframes clouds_slow {
    from{
        right: -500px;
    }
    to{
        right: 100%;
    }
}